#debug-console {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0,0,0, .7);
    padding: 30px;
    color: white;
    overflow-y: scroll;
}
#debug-console .debug-console-line {
    color: white;
    margin-bottom: 10px;
}
#debug-console .debug-console-message:hover {
    cursor: pointer;
    font-weight: bold;
}
#debug-console ul {
    list-style: none;
}