icon {
    background-color: black;
    min-width: 10px;
    min-height: 10px;
    display: inline-block;

    mask-size: contain;
    -webkit-mask-size: contain;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}