.flex-row {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.stack-view {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.flex-column {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.center-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-horizontally {
    width: 100%;
    display: flex;
    justify-content: center;
}

.center-vertically {
    width: 100%;
    display: flex;
    align-items: center
}

.background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fill-flex {
    flex: 1;
}

.toEnd {
    margin-left: auto;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    border-bottom: 10px solid black;
}
  
.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-top: 10px solid #000;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-left: 10px solid #000;
}

.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 

    border-right:10px solid #000;
}

.pointer {
    cursor: pointer;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.hidden {
    display: none;
}