
*, input, textarea, select {
    outline: none;
}

a, a:visited, a:link {
    text-decoration: none;
}

a, a:visited, a:link, a:hover {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}